@font-face {
    font-family: "Enthalpy";
    src:
      url("../../fonts/enthalpy298regular.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Spectral";
    src:
      url("../../fonts/Spectral-Regular.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Disket";
    src:
      url("../../fonts/Disket-Mono-Regular.ttf");
    font-style: normal;
    font-display: swap;
  }
  
.promo {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px;
    background-image: url('../../assets/backgroundOne.png');
    background-repeat: no-repeat;
    background-size: cover;
    &__maininfo {
        display: flex;
        flex-direction: column;
        flex-basis: 70%;

        &-titleOne, 
        &-titleTwo {
            font-family: "Enthalpy";
            font-size: 92px;
            line-height: 93.39px;
            width: 712px;

        }
        &-titleOne {
            color: #CFFC86
        }
        &-titleTwo {
            color: #FAFD83;
        }

        &-description {
            font-family: 'Spectral';
            font-size:22px;
            line-height: 25px;
            color: #FFFFFF;
            max-width: 567px;
            max-height: 100px;
            opacity: 80%;
            padding-bottom: 40px;
        }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 25px;

        &-one,
        &-two,
        &-three {
            font-family: 'Spectral';
            font-size: 22px;
            font-weight: 600;
            color: white;
            padding: 20px;
            border-radius: 36px;
        }

        &-one {
            background-color: #7646FF;
            border-color: #7646FF;
            border: none;

        }

        &-two {
            background-color: black;
            border: 2px solid #7646FF;

        }
        &-three {
            opacity: 40%;
        }
    }

    }

    &-stack-container {
        perspective: 1000px; 
        transform: rotateX(62deg) rotateZ(-26deg);
    }

    &-stack {
        position: absolute;
        left: 780px;
        top: -350px;
        transform-style: preserve-3d;
        &:hover {
            &-photo {
                transform: translate(-20px);
            }
        }

        &__photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 500px;
            height: 464px;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            transition: transform 1s ease;
            transform: translateY(10px) rotate(-2deg) scale(0.95);

            &:nth-child(1) {
                z-index: 1;
                left: -67px;
                top:230px;
                &:hover {
                    z-index: 3;
                }
            }


            &:nth-child(2) {
                z-index: 1;
                left: -26px;
                top:169px;
                &:hover {
                    z-index: 3;
                }
            }

            &:nth-child(3) {
                z-index: 1;
                left: 16px;
                top: 87px;
                &:hover {
                    z-index: 3;
                }
            }

            &:last-child {
                z-index: 2;
                left: 60px;
                border: 2px solid rgba(255, 255, 255, 1);
            }
            &:hover {
                transform: translateY(-200px)
            }

        }

    }

    &__team {
        display: flex;
        flex-direction: row;
        margin-top: 160px;
        &__description {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;

            &-title {
            font-family: "Enthalpy";
            font-size: 98px;
            line-height: 99.47px;
            color: #FFFFFF;
            width: 745px;
            }
            &-text {
            width: 517px;
            font-family: 'Spectral';
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            color: #FFFFFF;
            }
        }
        &__table {
            display: grid;
            margin-top: 80px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            width: 700px;
            color: #FFFFFF;
            border-color: #FFFFFF;
            border: 2px;
            background: radial-gradient(rgba(207, 252, 134, 0.3), rgba(217, 217, 217, 0));

            :nth-child(1) {
                display: flex;
                border-radius: 20px 0px 0px 0px;
                font-family: 'Disket';
                font-size: 30px;
                font-weight: 400;
                justify-content: center;
                align-items: center;
            }

            :nth-child(2) {
                display: flex;
                border-radius: 0px 20px 0px 0px;
                font-family: 'Disket';
                font-size: 30px;
                font-weight: 400;
                justify-content: center;
                align-items: center;
            }

            :nth-child(3) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 40px;
                border-radius: 0px 0px 0px 20px;
                font-family: 'Spectral';
                padding-top: 30px;
                padding-bottom: 60px;
                position: relative;

                &::before {
                    content: 'Стаж 4 года';
                    font-family: 'Spectral';
                    text-align: center;
                    padding: 5px;
                    font-size: 16px;
                    position: absolute;
                    background: rgba(207, 252, 134, 0.75);
                    width: 96px;
                    height: 28px;
                    border-radius: 16px;
                    transform: rotate(12.1deg);
                    top: 172px;
                    left: 76px;
                }

                > div {
                    font-family: 'Spectral';
                    background-color: #7646FF;
                    border-radius: 10px;
                    padding: 10px;
                }
            }

            :nth-child(4) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 40px;
                border-radius: 0px 0px 20px 0px;
                font-family: 'Spectral';
                padding-top: 30px;
                padding-bottom: 60px;
                position: relative;

                &::before {
                    content: 'Стаж 5 лет';
                    position: absolute;
                    text-align: center;
                    padding: 5px;
                    background: rgba(207, 252, 134, 0.75);
                    width: 96px;
                    height: 28px;
                    border-radius: 16px;
                    transform: rotate(-17.46deg);
                    top: 22px;
                    left: 44px;
                }

                > div {
                    font-family: 'Spectral';
                    background-color: #7646FF;
                    border-radius: 10px;
                    padding: 10px;
                }
            }
            &-item {
                padding: 10px;
                border: 1px solid white;
            }
        }
    }
}
