@font-face {
    font-family: "Comforta";
    src:
      url("../../fonts/Comfortaa.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Intro";
    src:
      url("../../../fonts/IntroDemo-BlackInlineCAPS.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

.popup {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(152, 116, 255, 0.7));
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    max-width: 882px;
    max-height: 90vh;
    border-radius: 35px;
    padding: 50px;


    &__title {
        font-family: 'Intro';
        font-size: 64px;
        text-align: center;
        color:  rgba(255, 255, 255, 1);
        padding-bottom: 30px;
    }
    &__description {
      display: flex;
        font-family: 'Comforta';
        font-weight: 400;
        font-size: 28px;
        text-align: center;
        color:  rgba(255, 255, 255, 1);
        max-width: 659px;
        padding-bottom: 100px;
    }
    &__input{
      display: flex;
      all: unset;
      flex-direction: column;
      font-family: 'Comforta';

      font-size: 36px;
      color: rgba(255, 255, 255, 1);

      &__inputGroup {
        display: flex;
        flex-direction: row;
        gap:80px;

        &-one {
          display: flex;
          flex-direction: column;
        }
      }

      &__inputGroupTwo{
        display: flex;
        flex-direction: column;
          & > label {
            opacity: 80%;
          }
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      width: 707px;
        color: white;
        background-color: black;
        padding: 20px;
        border-radius: 20px;
        font-family: 'Comforta';
      font-size: 48px; 
    border: none;
  }

}
.popup input {
		max-width: 290px;
		padding: 36.5px 0px;
    height: 5px;
    background: none;
    color: white;
    font-family: 'Comforta';
    font-weight: 400;
    font-size: 28px;
    transition: all 0.3s ease-out;

	&::placeholder {
		opacity: 60%;
	}
}

.popup hr {
  width: 100%;
  color: #B1B1B1;
}
