@font-face {
    font-family: "Comforta";
    src:
      url("../../fonts/Comfortaa.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Intro";
    src:
      url("../../../fonts/IntroDemo-BlackInlineCAPS.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

.popup {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(152, 116, 255, 0.7));
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    max-width: 782px;
    height: 70vh;
    max-height: 953px;
    border-radius: 20px;
    padding: 50px;

    &__title {
        font-family: 'Intro';
        font-size: 64px;
        text-align: center;
        color:  rgba(255, 255, 255, 1);
        padding-bottom: 30px;
    }
    &__description {
        font-family: 'Comforta';
        font-weight: 400;
        font-size: 28px;
        text-align: center;
        color:  rgba(255, 255, 255, 1);
        max-width: 659px;
        padding-bottom: 30px;
    }
    &__namePhone {
        font-family: 'Comforta';
        font-size: 36px;
        display: flex;
        flex-direction: row;

    }

    &__wishes {
        font-family: 'Comforta';
        font-size: 38px;
        text-align: left;
    }

    &__button {
        color: white;
        background-color: black;
        padding: 20px;
        border-radius: 20px;
    }

}
.popup input {
		max-width: 290px;
		padding: 16.5px 10px;
		border: 2px solid transparent;
		border-radius: 10px;
		transition: all 0.3s ease-out;

	&::placeholder {
		opacity: 60%;
	}
}