@font-face {
    font-family: "Comforta";
    src:
      url("../../fonts/Comfortaa.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Intro";
    src:
      url("../../../fonts/IntroDemo-BlackInlineCAPS.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

.popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(152, 116, 255, 0.7));
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    max-width: 882px;
    max-height: 90vh;
    border-radius: 35px;
    padding: 50px;

    &__form {
      width: 60vw;
      height: 80vh;
      max-height: 600px;
      position: relative;


    &-title {
        font-family: 'Intro';
        font-size: 2rem;
        text-align: center;
        color:  rgba(255, 255, 255, 1);
        padding-bottom: 30px;
    }
    &-description {
      display: flex;
        font-family: 'Comforta';
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        color:  rgba(255, 255, 255, 1);
        max-width: 659px;
        padding-bottom: 100px;

        @media screen and (max-width: 768px) {
          padding-bottom: 20px;
      }
    }
    &-input{
      display: flex;
      all: unset;
      flex-direction: column;
      font-family: 'Comforta';

      font-size: 1rem;
      color: rgba(255, 255, 255, 1);

      &__inputGroup {
        display: flex;
        flex-direction: row;
        gap:80px;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          gap:20px;
      }

        &-one {
          display: flex;
          flex-direction: column;
        }
      }

      &__inputGroupTwo{
        display: flex;
        flex-direction: column;
          & > label {
            opacity: 80%;
          }
      }

    }

    &-button {
      display: flex;
      justify-content: center;
      max-width: 707px;
      width: 60%;
        color: white;
        background-color: black;
        padding: 20px;
        border-radius: 20px;
        font-family: 'Comforta';
      font-size: 1rem; 
    border: none;
    margin: auto;
  }
}

}
.popup input {
		max-width: 290px;
		padding: 36.5px 0px;
    height: 5px;
    background: none;
    color: white;
    font-family: 'Comforta';
    font-weight: 400;
    font-size: 1rem;
    transition: all 0.3s ease-out;
    border: none;

	&::placeholder {
    font-size: 1rem;
		opacity: 60%;
  }
  &:focus {
    background: none;
  }

  @media screen and (max-width: 768px) {
    padding: 0.5em;
}
}

.popup hr {
  width: 100%;
  color: #B1B1B1;
}
