@font-face {
    font-family: "Intro";
    src:
      url("../../../fonts/IntroDemo-BlackInlineCAPS.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

.navbar {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 40px;
    max-width: 1280px;
    margin: 0 auto;
    width: 100vw;

    &__logo {
        padding: 20px;
        
    }

    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        font-family: 'Intro';
        font-size: 18px;

        @media screen and (max-width: 768px) {
            gap: 20px;
            
        }
    }
}
.navbar li {
    list-style-type: none;
   }

.navbar a {
    text-decoration: none;
    color: inherit; 
    &:hover {
        color: rgba(152, 116, 255, 1);
    }
}

