@font-face {
    font-family: "Enthalpy";
    src:
      url("../../fonts/enthalpy298regular.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src:
      url("../../fonts/Inter-Regular.otf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Comforta";
    src:
      url("../../fonts/Comfortaa.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

.prices {
    background: black;
    padding: 40px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    &__header {
        display: flex;
        flex-direction: row;
        color: white;
        padding-bottom: 50px;
        &__one {
            font-family: 'Inter';
            font-size: 33px;
            font-weight: 33px;
            flex-basis: 12%;

        }
        &__two {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 720px;
            padding-left: 250px;
            &-one {
            font-family: 'Enthalpy';
            font-size: 128px;
            flex-basis: 90%;

            }
            &-two {
                display: flex;
                font-family: 'Inter';
                font-size: 33px;
                color: #BCBCBC;
            }

            @media screen and (max-width:1257px) {
                padding-left: 153px;
            }

            @media screen and (max-width:1257px) {
                padding-left: 50px;
            }
        }

    }
    &__card {
        width: 90%;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        transition: color 0.3s ease, stroke 0.3s ease;

        &-title {
            color: white;
            font-family: 'Inter';
            font-size: 40px;

            @media screen and (max-width: 1040px) {
                font-size: 30px;
            }
        }
        &-price {
            color: white;
            font-family: 'Inter';
            font-size: 45px;
            text-align: right;
            @media screen and (max-width: 1040px) {
                font-size: 30px;
            }
        }
    }
}

.prices hr {
    width: 90%;
    size: 2;
    color: #B1B1B1;
}

.prices li {
    list-style-type: none;
    text-align: right;
   }
.prices li:after {
    content: url('../../assets/star.svg');
   }
.prices svg {
        fill: none;
        transition: fill 0.3s ease;
        stroke: white;
    }

.prices__card:hover > *:not(.prices__card-description) {
    color: #CFFC86;
    stroke: #CFFC86; 
}